<body>
    <nav id="header" class="navbar navbar-default navbar-fixed-top">
        <div id="instructionHeader">
            <div class="alert alert-info" role="alert" >
            <div id="trialNumber"> </div>

            <button type="button" class="btn btn-primary btn-lg" id="instructionButton" data-toggle="tooltip">Re-read Instructions</button>
            </div>
            
            <div id="trial"></div>
            <div id="trialImage"></div>
            <div id="query"></div>
        </div>
    </nav>
    <div id="container-exp">
	<div id="trial">
		<!-- <h1 id="trialn">Situation n -->
		<!-- </h1> -->
		<div id="names"></div>
		<div id="table" class="situation"></div>
              <div id="attention"></div>
		<form id="sliders">
			<label for="friends" style="margin-left:20px"> Friends </label>

                    <div  id="friendsdiv">
			<span >Very unlikely</span>
			<input id="friends" type="range" data-show-value="true">
                   <span>Very likely</span>
			</div>


			<label for="strangers" style="margin-left:20px"> Strangers </label>
                    <div id="strangersdiv">
                    <span >Very unlikely</span>
                    <input id="strangers" type="range" data-show-value="true">
                    <span>Very likely</span>
                    </div>

			<label for="enemies" style="margin-left:20px"> Enemies </label>
                    <div id="enemiesdiv">
                    <span >Very unlikely</span>
                    <input id="enemies" type="range" data-show-value="true">
                    <span>Very likely</span>
                    </div>
			

		</form>

		<p> Please explain your judgments. </p>
		<div>
		<textarea id="judgements" rows="4" cols="40"> </textarea>
		</div>

        <button type="button" id="nextbutton" value="next" class="btn btn-primary btn-lg continue">
            Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
	</div>
</div>
<body>