<div id="container-exp">
    <nav id="header" class="navbar navbar-default navbar-fixed-top">
        <div id="instructionHeader">
            <div class="alert alert-info" role="alert" id="trialNumber">
            </div>
            <button class="tooltip btn btn-primary btn-lg" id="tooltip" data-toggle="tooltip">Re-read Instructions</button>
            <div id="trial"></div>
            <div id="trialImage"></div>
            <div id="query"></div>
        </div>
    </nav>
	<div id="trial">
		<h1 id="trialn">Situation n
		</h1>
		<div id="names"></div>
		<div id="table" class="situation"></div>

		<form id="sliders">
			<label for="friends"> friends </label>

			<inline >
			not likely<input id="friends" type="range" data-show-value="true"> very likely
			</inline>


			<label for="strangers"> strangers </label>
			<input id="strangers" type="range" data-show-value="true">

			<label for="enemies"> enemies </label>
			<input id="enemies" type="range" data-show-value="true">

		</form>

		<p> Please explain your judgements. </p>
		<div>
		<textarea id="judgements" rows="4" cols="40"> </textarea>
		</div>

        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
            Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
	</div>
</div>
