<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
    <p>
        A group of researchers have conducted a study to see how people with different relationships make choices that affect each other. The study involved pairs of people who were either friends, strangers, or enemies. They participated in a scenario where each person chooses one of two options (A or B). The two people get cash rewards that depend on the choices they both made. <b>The players are not allowed to communicate and make their decisions in private, but both people know what the payouts are before making their choices. </b>
    </p>
    <p>
        For example, suppose the two players are Olivia and Todd. Here is one possible payout table.
    </p>
    <p>
    
        <table border="1" class="gameTable"><tbody><tr><td>Olivia's Choice</td><td>Todd's Choice</td><td>Reward for Olivia</td><td>Reward for Todd</td></tr>
        <tr><td>A</td><td>A</td><td>$12</td><td>$12</td></tr>
        <tr><td>A</td><td>B</td><td>$12</td><td>$0</td></tr>
        <tr><td>B</td><td>A</td><td>$0</td><td>$12</td></tr>
        <tr><td>B</td><td>B</td><td>$0</td><td>$0</td></tr>
        </tbody></table>    
    
    </p>
    <p>
        In this table, if Olivia chooses option A and Todd chooses option B, Olivia receives $12 and Todd receives $0.
    </p>
    <p>
        On the following screens, you will see the choices that pairs of people made. Your task will be to judge how likely it is that the pairs were friends, strangers, or enemies.
    </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" style="float:right">
                Return to previous screen <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
